<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/eben.jpg" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">Eben Dennis</a></h1>
            <p>Golf Instructor,<br />
            Short Game Guru</p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/assets/Power-Feel-Golf-Book.pdf" target="blank">Book</a></li>
                <li><a href="{{ site.baseurl }}/video">Video</a></li>
                <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
                <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li><a href="https://twitter.com/magicgolf" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="https://www.facebook.com/eben.dennis.5" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="mailto:eben1953@gmail.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </footer>
    </section>
